
<script>
    function submit(){
        $("#login").submit();
    }
</script>

<form id="login" class="login form-group" action="/login.html" method="POST">

        <div style="color:red">$!{message}</div>
        <div class="form-group">
            <label for="name"><span class="glyphicon glyphicon-user" /></label>
            <input type="text" class="form-search" id="name" name="name" value="$!user.name" placeholder="用户名"/>
        </div>
        <div class="form-group">
            <label for="password"><span class="glyphicon glyphicon-lock" /></label>
            <input type="password" class="form-search" id="password" name="password"
                   value="$!user.name" placeholder="密码" maxlength="8"/>
        </div>
        <button class="btn btn-info btn-default" type="submit" width="10%" >登录</button>
        <a href="/register.htm" target="_blank">注册</a>

</form>
