<html>

<link rel="stylesheet" type="text/css" href="style/base.css" />
<script type="text/javascript" src="scripts/jquery-3.2.1.js"></script>
<script>
    function submit(){
        $("#login").submit();
    }

    // function showTime(){
    //     nowtime=new Date();
    //     year=nowtime.getFullYear();
    //     month=nowtime.getMonth()+1;
    //     date=nowtime.getDate();
    //     document.getElementById("mytime").innerText=year+"年"+month+"月"+date+" "+nowtime.toLocaleTimeString();
    // }
    // $(function(){
    //     setInterval("showTime()",1000);
    // });

</script>

<title>注册</title>

<body>
	<form id="login" action="/register.html" method="POST">
	<div class="login">
		
		<div >用户注册</div>
		<div style="color:red">$!{message}</div>
        <table class="cl_1" >
			<tr >
                <th>用户名：</th>
                <td><input type="text" name="name" value="$!user.name" placeholder="用户名" required="required" /></td>
            </tr>
			<tr >
                <th>密   码：</th>
                <td><input type="password" name="password" value="$!user.password" placeholder="密码，最大8位" maxLength="8"/></td>
            </tr>
		</table>
				
		<div >
            <input class="btn" type="button" width="10%" value="立即注册" onclick="submit();"></input>
        </div>
		
    </div>

    </form>
</body>

</html>