
<div id="header">
    <div class="head w1366head">
        <a class="head-logo fl" href="/" style="background: url(&quot;https://staticlive.douyucdn.cn/upload/signs/201703031609518839.png&quot;) left center no-repeat;"></a>

        <ul class="head-nav fl">
            <li class="fl index ">
                <a href="/index.htm" target="_blank">首页</a>
            </li>
            <li class="fl live current">
                <a href="/login.htm" >重新登录</a>
            </li>
            <li class="fl live current">
                <a href="/resetPassword.htm" >修改密码</a>
            </li>
            <li class="fl live current">
                <a href="/resetPassword2.htm" >重置密码</a>
            </li>
            <li class="fl live current">
                <a href="/test.htm" >测试页面</a>
            </li>
        </ul>
        <li class="fr live current">
            <a href="#" >$!user.name</a>
        </li>
    </div>
</div>