<html>

##<link rel="stylesheet" type="text/css" href="../css/base.css" />
<style>
.login{
    text-align:center;
    margin:20px 200px 20px 400px;
    padding:10 0 10 0;
    width:40%;
	border:2px solid #d5dce5;
}

a{
	text-align:center;
    width:60;
    height:10;
    margin:5;
    font-size:20;
}
.btn{
	text-align:center;
    width:60;
    height:20;
    margin:5;
    background-color:#5a98de;
}
input{
    margin-left:0;
	border:2px solid #d5dce5;
}

.cl_1{
	margin:20 0 20 200 ;
}

tr{	
	left:200;
}
tr td{
	padding:5 0 5 0;
}
tr th{
	padding:5 0 5 0;
}
</style>

<title>修改密码</title>

<body>
	<form id="login" action="/resetPassword.html" method="POST">
	<div class="login">
		
		<div >修改密码</div>
		<div style="color:red">$!{message}</div>
        <table class="cl_1" >
			<tr >
                <th>用户名：</th>
                <td><input type="text" name="name" placeholder="用户名" required="required" /></td>
            </tr>
			<tr >
                <th>旧密码：</th>
                <td><input type="password" name="oldPassword" placeholder="密码，最大8位" maxLength="8"/></td>
            </tr>
			<tr >
                <th>新密码：</th>
                <td><input type="password" name="newPassword" placeholder="密码，最大8位" maxLength="8"/></td>
            </tr>
		</table>
				
		<div >
            <input class="btn" type="button" width="10%" value="修改密码" onclick="submit();"></input>
        </div>
		
    </div>
	
    </form>
</body>

<script>
function submit(){
$("#login").submit();
}
</script>
</html>